.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

.console {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 10px;
}

.message {
	color: red;
}

#configureGoogle, #configureOther {
	display: none;
	background-color: #fffff0;
}

#content-container .nopad {
	margin-bottom: 0px !important;
}

#extractData {
	display: none;
}

#table_listQueries tbody tr:hover {
	cursor: pointer;
}

#selectQueries {
	display: none;
}

#noResults {
	display: none;
}

#login h5 {
	color: #990000;
}

/* print css */

@media screen {
	canvas { -webkit-print-color-adjust: exact; }
}

@media print {
	.bar1 { background-color: #5cb85c !important; -webkit-print-color-adjust: exact; }
}
@media print {
	.bar2 { background-color: #f0ad4e !important; -webkit-print-color-adjust: exact; }
}
@media print {
	.bar3 { background-color: #d9534f !important; -webkit-print-color-adjust: exact; }	
}

/* /////////////////////////////////////////// temp css /////////////////////////////////////////// */

#trend_options li a{
  	width: 100%;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	color: #FFF;
	display: inline-block;
	padding: 11px 18px 11px 18px;
	outline: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

#trend_options {
  	list-style: none;
	background: rgba(51, 51, 51, 0.81);;
}