<div id="content-header">
    <div class="row">
      <div class="col-sm-8">
          <h1>Dashboard Overview</h1>
        </div>
      	<div class="col-sm-3" style="margin-top: 15px;">
          	<h4>Date</h4>
          	<div id="dp-ex-3" class="input-group date" data-auto-close="true" data-date-format="yyyy-mm-dd" data-date-autoclose="true" placeholder="Date">
	            <form 	class="form-horizontal" 
	            		novalidate 
	            		name="form" 
	            		ng-submit="submit()">
	            		<div class="input-group date" >
						  	<input 	type="text" 
						  			class="form-control" 
						  			ng-model="default_date" 
	                				ng-change="date_filter(default_date)"
						  			placeholder="{{default_date}}" >
						  	<span class="input-group-addon">
						  		<i class="fa fa-calendar"></i>
						  	</span>
						</div>
	                <!-- <div 	id="date"
	                		class="input-append input-group date" 
	                		datetimez 
	                		ng-model="default_date" 
	                		ng-change="date_filter(default_date)">
	                  	<input 	data-format="yyyy-MM-dd" 
	                  			placeholder="{{default_date}}"  
	                  			class="form-control" 
	                  			type="text" 
	                  			id="input1" 
	                  			name="input1">
	                  	<span 	class="add-on input-group-addon ">
	                    	<i 	class="fa fa-calendar"></i>
	                  	</span>
	                </div> -->
	            </form>
          	</div>
	    </div>
    </div>
</div>

<div id="content-container">
    <div class="clear"></div>
    <div id="DashboardTabsContent" class="tab-content">
        <div class="col-md-12" id="Overview">
          	<div class="table-responsive" id="div_table" >    
              	<table 	id="dashboard" 
              			style="text-align:center;"
						datatable="ng"
     	 				dt-options="dtOptions"
      					dt-column-defs="DTColumnDefs"
						class="table table-striped table-bordered table-hover table-highlight table-checkable dataTable-helper dataTable no-footer datatable-columnfilter">
					<thead>
				      	<tr cls="dataTable-filter-row">
					        <th class="sorting_asc" style="text-align: center; width:25%; ">Metric</th>
					        <th class="sorting_disabled" style="text-align: center; width: 10%;" >Received</th>
					        <th class="sorting_disabled" style="text-align: center; width: 10%;">Completed</th>
					        <th class="sorting_disabled" style="text-align: center; width: 10%;">In Queue</th>
	                		<th class="sorting_disabled">OK</th>
	                		<th class="sorting_disabled">Caution</th>
	                		<th class="sorting_disabled">Warning</th>  
					        <th class="sorting_disabled" style="text-align: center; width: 15%;">Aging</th>
					        <th class="sorting_disabled" style="text-align: center; width: 30%;">Comments</th>
				      	</tr>
	    			</thead>
	    			<tbody style="cursor:pointer;">
					    <tr ng-repeat ="metric in metrics" >
					        <td ng-click="view_trends(metric.name)"><span>{{ metric.name }}</span></td>
					        <td ng-click="view_trends(metric.name)">
					        	<i class="fa fa-arrow-up" ng-if="metric.received.state == true"></i >
					        	<i class="fa fa-arrow-down" ng-if="metric.received.state == false"></i >
					        	<span>{{ metric.received.result }}</span>
					        	<!-- <span class="trend-line"> {{ gen_sparklines(metric.received.temp_dur, metric.received.temp_date, metric.received.temp_alert) }}</span> -->
					        </td>
					        <td ng-click="view_trends(metric.name)">
					        	<i class="fa fa-arrow-up" ng-if="metric.completed.state == true"></i >
					        	<i class="fa fa-arrow-down" ng-if="metric.completed.state == false"></i >
					        	<span>{{ metric.completed.result }}</span>
					        </td> 
					        <td ng-click="view_trends(metric.name)">
					        	<i class="fa fa-arrow-up" ng-if="metric.inqueue.state == true"></i >
					        	<i class="fa fa-arrow-down" ng-if="metric.inqueue.state == false"></i >
					        	<span>{{ metric.inqueue.result }}</span>
					        </td>
			                <td><span>{{ metric.ok }}</span></td>
			                <td><span>{{ metric.caution }}</span></td>
			                <td><span>{{ metric.danger }}</span></td>
					        <td ng-click="view_trends(metric.name)">
						        <progress >
						            <bar  value="metric.ok_progress" 
						                  popover="{{ metric.bin1 }}: {{ metric.ok }}" 
						                  popover-trigger="mouseenter"  
						                  class="progress-bar-success bar1">
						            </bar>
						            <bar  value="metric.c_progress" 
						                  popover="{{ metric.bin2 }}: {{ metric.caution }}" 
						                  popover-trigger="mouseenter"  
						                  class="progress-bar-warning bar2">
						            </bar>
						            <bar  value="metric.d_progress" 
						                  popover="{{ metric.bin3 }}: {{ metric.danger }}" 
						                  popover-trigger="mouseenter" 
						                  class="progress-bar-danger bar3">
						            </bar>
						        </progress>
					        </td>
					        <td ng-click="view_trends(metric.name)" style="text-align:left;"><span>{{ metric.comments }}</span></td> 
					    </tr>
	    			</tbody>
				</table> 
				<!-- <pagination class="pull-right" 
							total-items="total_items" 
							ng-model="current_page" 
							num-pages="num_pages" 
							items-per-page="limit" 
							ng-change="page_changed(current_page)"></pagination> -->
          	</div>
    	</div>
  	</div>
</div>