<div id="content-header">
    <div class="row">
      <div class="col-sm-8">
          <h1>Overview</h1>
        </div>
      	<div class="col-sm-3" style="margin-top: 15px;">
	    </div>
    </div>
</div>

<div id="content-container">
    <div class="clear"></div>
    <div id="DashboardTabsContent" class="tab-content">
    	<div class="col-md-12">
    		<div class="row">
		    	<div class="col-md-3">
		        	<div class="portlet">
		        		<div class="portlet-header">
			          		<h3>Weekly Goals: 1000 alerts</h3>
			        	</div>
			        	<div class="portlet-content">
			        		<center>
				     			<div 	id="myStat" 
				     					data-dimension="185" 
				     					data-text="700" 
				     					data-width="20" 
				     					data-fontsize="20" 
				     					data-percent="35" 
				     					data-fgcolor="#303D7D" 
				     					data-fill="gray" 
				     					data-total="200" 
				     					data-part="35" 
				     					data-icon="long-arrow-up" 
				     					data-icon-size="20" 
				     					data-icon-color="#303D7D"></div>
				        		<div class="col-sm-6">
				        			<h6>Last Week:</h6>
				        			<h6>980 Alerts</h6>
				        		</div>
				        		<div class="col-sm-6">
				        			<h6>Average Weekly:</h6>
				        			<h6>1005 Alerts</h6>
				        		</div>
			        		</center>
				        </div>
		        	</div>
		    	</div>
		    	<div class="col-md-6">
		    		<div class="portlet">
		        		<div class="portlet-header">
			          		<h3>Weekly Production</h3>
			        	</div>
			        	<div class="portlet-content">
			        		<center>
				              	<div class="col-sm-6">
				              		<div style="background:blue;">
					              		<h4>Hours</h4>
					              		<h4>750</h4>
				              		</div>
				              	</div>
				              	<div class="col-sm-6">
				              		<div style="background:orange;">
					              		<h4>Closed Alerts</h4>
					              		<h4>587</h4>
				              		</div>
				              	</div>
				              	<div class="col-sm-6">
				              		<div style="background:gray;">
					              		<h4>Escalated Alerts</h4>
					              		<h4>54</h4>
				              		</div>
				              	</div>
				              	<div class="col-sm-6">
				              		<div style="background:#e5e5e5;">
					              		<h4>Re-Worked</h4>
					              		<h4>59</h4>
				              		</div>
				              	</div>
			        		</center>
				        </div>
		        	</div>
		    	</div>
		    	<div class="col-md-3">
		    		<div class="portlet">
		        		<div class="portlet-header">
			          		<h3>Historic Averages</h3>
			        	</div>
			        	<div class="portlet-content">
			        		<div class="col-md-12">
			        			<div class="row">
					              	<center>
						        		<div class="col-sm-6">
							        		<div class="row">
							        			<h6>Today's Avg.</h6>
								     			<div 	id="myStatHistoric1" 
								     					data-dimension="70" 
								     					data-text="700" 
								     					data-width="5" 
								     					data-fontsize="10" 
								     					data-percent="10" 
								     					data-fgcolor="#303D7D" 
								     					data-fill="gray" 
								     					data-total="1000" 
								     					data-part="700" 
								     					data-icon="long-arrow-up" 
								     					data-icon-size="10" 
								     					data-icon-color="#303D7D">
								     			</div>
							        		</div>
							        	</div>
						        		<div class="col-sm-6">
						        			<div class="row">
						        				<h6>Week Avg.</h6>
							        			<div 	id="myStatHistoric2" 
								     					data-dimension="70" 
								     					data-text="700" 
								     					data-width="5" 
								     					data-fontsize="10" 
								     					data-percent="10" 
								     					data-fgcolor="#303D7D" 
								     					data-fill="gray" 
								     					data-total="1000" 
								     					data-part="700" 
								     					data-icon="long-arrow-up" 
								     					data-icon-size="10" 
								     					data-icon-color="#303D7D">
								     			</div>
						        			</div>
							        	</div>
							        	<div class="col-sm-6">
							        		<div class="row">
							        			<h6>Month Avg.</h6>
								     			<div 	id="myStatHistoric3" 
								     					data-dimension="70" 
								     					data-text="700" 
								     					data-width="5" 
								     					data-fontsize="10" 
								     					data-percent="10" 
								     					data-fgcolor="#303D7D" 
								     					data-fill="gray" 
								     					data-total="1000" 
								     					data-part="700" 
								     					data-icon="long-arrow-up" 
								     					data-icon-size="10" 
								     					data-icon-color="#303D7D">
								     			</div>
							        		</div>
							        	</div>
						        		<div class="col-sm-6">
						        			<div class="row">
						        				<h6>YTD Avg.</h6>
							        			<div 	id="myStatHistoric4" 
								     					data-dimension="70" 
								     					data-text="700" 
								     					data-width="5" 
								     					data-fontsize="10" 
								     					data-percent="10" 
								     					data-fgcolor="#303D7D" 
								     					data-fill="gray" 
								     					data-total="1000" 
								     					data-part="700" 
								     					data-icon="long-arrow-up" 
								     					data-icon-size="10" 
								     					data-icon-color="#303D7D">
								     			</div>
						        			</div>
							        	</div>
					        		</center>
			        			</div>
			        		</div>
				        </div>
		        	</div>
		    	</div>
    		</div>
    	</div>
    	<div class="col-md-12">
    		<div class="row">
		    	<div class="col-md-6">
		    		<div class="portlet">
		        		<div class="portlet-header">
			          		<h3>Productivity Metrics</h3>
			        	</div>
			        	<div class="portlet-content">
			            	<highchart id="chart1" config="chartConfig" class="span10" ></highchart>
				        </div>
		        	</div>
		    	</div>
		    	<div class="col-md-6">
		    		<div class="portlet">
		        		<div class="portlet-header">
			          		<h3>Trends</h3>
			        	</div>
			        	<div class="portlet-content">
			              	<highchart id="chart2" config="chartConfig2" class="span10" ></highchart>
				        </div>
		        	</div>
		    	</div>
    		</div>
    	</div>
  	</div>
</div>

<script>
	$(document).ready(function() {
        $('#myStat').circliful();
    	$('#myStatHistoric1').circliful();
    	$('#myStatHistoric2').circliful();
    	$('#myStatHistoric3').circliful();
    	$('#myStatHistoric4').circliful();
    });
</script>