<div id="content-header">
    <div class="row">
      	<div class="col-sm-6">
        	<h1>Enter Data</h1>
      	</div>
    </div>
</div>

<div id="content-container">
    <div class="row">
      	<div class="col-sm-12">
	      	<div class="portlet">
				<div class="portlet-header">
	          		<h3>Instructions</h3>
	        	</div>
	        	<div class="portlet-content">
	              	<p>Enter data for the most recet week. To correct historical data or enter data from previous week, contact the administrator for assistance.</p>
			      	<div class="col-sm-12">
			      		<div class="portlet" style="max-width:700px; margin-left:auto; margin-right:auto;">
			        		<div class="portlet-header">
			              		<h3>Enter Data</h3>
			        		</div>
			        		<div class="portlet-content">
			        			<form id="metricForm" class="form-horizontal" >

						            <div class="form-group">
						                <label class="col-md-4">Date</label>
						                <div class="col-md-8">
						                	<div class="input-group date" >
											  	<input 	type="text" 
											  			class="form-control"
											  			required >
											  	<span class="input-group-addon">
											  		<i class="fa fa-calendar"></i>
											  	</span>
											</div>
						                </div>
						            </div>

						            <div class="form-group">
						                <label class="col-md-4">Alerts Processed</label>
						                <div class="col-md-8">
						                  	<input 	id="Received" 
						                  			type="text" 
						                  			name="received" 
						                  			class="form-control" 
						                  			placeholder="(Number)"
						                  			numbers-only="numbers-only"
						                  			required>
						                </div>
						            </div>

						            <div class="form-group"> 
						                <label class="col-md-4">Alerts Returned From QA</label>
						                <div class="col-md-8">
						                  	<input 	type="text" 
						                  			class="form-control" 
						                  			name="completed" 
						                  			placeholder="(Number)" 
						                  			numbers-only="numbers-only" 
						                  			required>
						                </div>
						            </div>

						            <div class="form-group">   
						                <label class="col-md-4" id="Comments">Hours Spent from Alerts</label> 
						                <div class="col-md-8">
						                  	<input 	type="text" 
						                  			class="form-control" 
						                  			name="comments" 
						                  			placeholder="Comments"
						                  			numbers-only="numbers-only" >
						                </div>
						            </div>

						            <div class="form-group">   
						                <label class="col-md-4" id="Comments">Comments</label> 
						                <div class="col-md-8">
						                  	<input 	type="text" 
						                  			class="form-control" 
						                  			name="comments" 
						                  			placeholder="Comments" >
						                </div>
						            </div>

						          	<div style="text-align: center">
						              	<button type="submit" 
						              			id="submitData" 
						              			class="btn btn-primary">Submit</button>
						          	</div>
						            <br>
						        </form>
					        </div>
			      		</div>
			      	</div>
		        </div>
	      	</div>
      	</div>
    </div>
<!-- 
    <div class="row">
    </div> -->
</div>